<!DOCTYPE html>
<html  lang="vi"  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{templates/admin/layouts/main_layout.html}">
<body>
<div layout:fragment="content">
    <div class="mt-4">
        <div class="row">
            <div class="col col-sm-4 text-center" >
                <div style="background: rgba(237, 28, 36, 0.1);
                padding: 8px;">
                    <h3><b>Số ca nhiễm</b></h3>
                    <p id="number_of_nfections">12141212232123</p>
                </div>
            </div>
            <div class="col col-sm-4 text-center">
                <div style="background: rgba(40, 167, 69, 0.1); padding: 8px;">
                    <h3><b>Khỏi</b></h3>
                    <p id="number_recovered_case">12141212232123</p>
                </div>
            </div>
            <div class="col col-sm-4 text-center" >
                <div style="background: #F0EFF4;padding: 8px;">
                    <h3><b>Tử vong</b></h3>
                    <p id="number_of_deaths">12141212232123</p>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/admin/static/admin/js/info-covid/index.js}"></script>
</th:block>

</body>
</html>
