<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <meta charset="utf-8"/>
    <title>Quản trị hệ thống</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="X-Frame-Options" content="SAMEORIGIN"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>




    <link href="/admin/static/admin/temp-css/dataTables.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/admin/static/admin/temp-css/responsive.bootstrap4.min.css" rel="stylesheet"

          type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>


    <!-- App css -->
    <link href="/admin/static/admin/temp-css/bootstrap-creative.min.css" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link href="/admin/static/admin/temp-css/app-creative.min.css" rel="stylesheet" type="text/css"
          id="app-default-stylesheet"/>

    <link href="/admin/static/admin/temp-css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/static/admin/temp-css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/static/admin/temp-css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/static/admin/fontawesome-free-5.15.2-web/css/all.min.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/static/admin/css/custom.css" rel="stylesheet" type="text/css"/>

    <script src="/admin/static/admin/temp-js/vendor.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/admin/static/admin/summernote/summernote-bs4.css"  rel="stylesheet" type="text/css"/>

</head>
<body>
</body>
</html>
</html>